<%- include('../partials/head') %>
</head>
<body class="bg-gray-100 min-h-screen">

    <!-- HEADER -->
    <%- include('../partials/nav') %>

    <main class="flex items-center justify-center min-h-screen pt-24">
        <div class="text-center">
            <h1 class="text-7xl font-extrabold text-rose-500 mb-4">My Bookings</h1>
            <p class="text-2xl font-semibold text-gray-800 mb-2">Bookings will appear here</p>
        </div>
    </main>

</body>
</html>