<header class="bg-white shadow-md">
    <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold text-rose-500">airbnb</>
        <% if(isLoggedIn) { %>
            <a href="/homes" class="bg-rose-500 text-white px-5 py-2 rounded-lg font-semibold hover:bg-rose-600 transition">Homes list</a>
            <a href="/host/add-home" class="bg-rose-500 text-white px-5 py-2 rounded-lg font-semibold hover:bg-rose-600 transition">Add Home</a>
            <a href="/host/host-home-list" class="bg-rose-500 text-white px-5 py-2 rounded-lg font-semibold hover:bg-rose-600 transition">Host Home</a>
            <a href="/favourites" class="bg-rose-500 text-white px-5 py-2 rounded-lg font-semibold hover:bg-rose-600 transition">Favourites</a>
            <a href="/bookings" class="bg-rose-500 text-white px-5 py-2 rounded-lg font-semibold hover:bg-rose-600 transition">Bookings</a>
            <% } %>
            <% if(!isLoggedIn){ %>
                <a href="/login" class="bg-rose-500 text-white px-4 py-2 rounded-lg font-semibold hover:bg-rose-600 transition">Login</a>
                <a href="/signup" class="bg-rose-500 text-white px-4 py-2 rounded-lg font-semibold hover:bg-rose-600 transition">Sign Up</a>
            <% }else{ %>
                <form action="/logout" method="POST">
                    <button type="submit" class="bg-rose-500 text-white px-4 py-2 rounded-lg font-semibold hover:bg-rose-600 transition">Logout</button>
                </form>
            <% } %>
    </div>
</header>