<!-- HEAD -->
 <%- include('../partials/head') %>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

    <!-- HEADER -->
     <%- include('../partials/nav') %>

    <div class="bg-white p-10 rounded-2xl shadow-xl text-center">
        <h1 class="text-3xl font-bold text-green-600 mb-4">🎉 Home Registered Successfully</h1>
        <p class="text-gray-600 mb-6"> Your property is now live and ready for guests!</p>
        <a href="/" class="bg-rose-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-rose-600 transition"> Go to Home </a>
    </div>

</body>
</html>